<div class="image-card">
    <a href="{{videos}}" class="image-card__link"><img src="https://i.vimeocdn.com/video/{{picture_id}}_640x360.jpg" class="image-card__image"
            alt="{{tags}}" ></a>
    <ul class="image-card__info">
        <li>
            <h3>Likes</h3>
            <p>{{likes}}</p>
        </li>
        <li>
            <h3>Views</h3>
            <p>{{views}}</p>
        </li>
        <li>
            <h3>Comments</h3>
            <p>{{comments}}</p>
        </li>
        <li>
            <h3>Downloads</h3>
            <p>{{downloads}}</p>
        </li>
    </ul>
</div>
